@import 'src/common/css/mixin';

.loading-container {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  width: to-rem(50);
  height: to-rem(50);
  transform: translate3D(-50%, -50%, 0);
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}