@import 'src/common/css/mixin';

.sell-header {
  position: relative;
  z-index: 9;
  height: to-rem(130);
  box-sizing: border-box;
  padding: to-rem(36) to-rem(10) 0;
}

.content-wrapper {
  // background: red;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.avatar {
  margin-right: to-rem(10);
  float: left;
  width: to-rem(65);
  height: to-rem(65);
  box-shadow: 0 0 to-rem(1) rgba(255, 255, 255, .5);
  border-radius: to-rem(2);
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.header-content {
  margin-left: 0;
}

.seller-name {
  margin-bottom: to-rem(8);
  font-size: to-rem(18);
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.seller-description {
  margin-bottom: to-rem(9);
  color: rgb(255, 255, 255);
  font-size: to-rem(12);
}
.seller-bulletin {
  @extend .seller-description;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bulletin-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: to-rem(20);
  width: 100%;
}

.support-num {
  position: absolute;
  right: to-rem(10);
  bottom: to-rem(4);
  font-size: to-rem(10);
  color: #fff;
}

.back-btn {
  position: absolute;
  left: to-rem(10);
  top: to-rem(5);
  z-index: 1;
  width: to-rem(25);
  height: to-rem(25);
  // background: url('./left-arrow.svg') no-repeat;
  background-size: to-rem(21) to-rem(21);
  background-position: center;
  a {
    display: block;
    height: 100%;
  }
}
.seller-btn {
  position: absolute;
  right: to-rem(10);
  top: to-rem(60);
  z-index: 2;
  width: to-rem(15);
  height: to-rem(15);
  // background: url('./left-arrow.svg') no-repeat;
  background-size: to-rem(12) to-rem(12);
  background-position: center;
  transform: rotate(180deg);
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: to-rem(29);
    left: to-rem(-7);
    height: to-rem(23);
    top: to-rem(-4);
  }
}
.background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  img {
    position: absolute;
    filter: blur(to-rem(15));
    left: -30%;
    top: 0;
    width: 130%;
    height: 200%;
  }
}

.svg-test {
  position: absolute;
  width: to-rem(20);
  height: to-rem(20);
  right: 0;
  top: 0;
}

// 遮罩层部分开始
.show-mask {
  visibility: visible;
  opacity: 1;
  transition: all .4s;
}
.hide-mask {
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
}
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  color: #fff;
  background-color: #262626;
  // transition: all .4s;
  // visibility: hidden;
  // opacity: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 316px;
  margin: to-rem(40) auto;
}
.shopName {
  text-align: center;
  font-size: to-rem(18);
}
.star-container {
  margin: to-rem(5) auto 0;
  text-align: center;
}
.title-container {
  border: to-rem(1) solid rgba(200, 200, 200, .5);
  border-radius: to-rem(12);
  margin: to-rem(18) 0;
  padding: to-rem(2) to-rem(10);
  span {
    font-size: 10px;
  }
}
.close-btn {
  position: fixed;
  opacity: .8;
  bottom: to-rem(25);
  left: 50%;
  transform: translateX(-50%);
}
// 遮罩层结束

.slide-enter {
  transform: translate3d(100%, 0, 0);
}
.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all .4s ease-in;
}
.slide-leave {
  transform: translate3d(0, 0, 0);
}
.slide-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all .4s ease-in;
}
.seller-detail-layer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  background: #eee;
  // transform: translate3d(100%, 0, 0);
  .detail-title {
    height: to-rem(46);
    background: #2198f3;
    line-height: to-rem(46);
    text-align: center;
    font-size: to-rem(20);
    color: #fff;
    .back-btn {
      top: to-rem(10);
    }
  }
  .section {
    .head-title {
      border-bottom: to-rem(1) solid #eee;
      height: to-rem(36);
      line-height: to-rem(36);
      font-size: to-rem(16);
    }
    margin-top: to-rem(12);
    padding: 0 to-rem(14) 0;
    // padding: to-rem(12);
    background: #fff;
    color: #666;
  }
  .support-section {
    @extend .section;
    .support-list {
      padding: to-rem(6) 0;
      color: #666;
      li {
        height: to-rem(26);
        line-height: to-rem(26);
      }
      .support-icon {
        vertical-align: to-rem(1);
        color: #fff;
      }
    }
  }
  .seller-pic {
    @extend .section;
    .shop-img-list {
      display: flex;
      // margin: to-rem(12);
      padding: {
        top: to-rem(12);
        bottom: to-rem(12);
      }
      .pic-item {
        position: relative;
        margin-right: to-rem(12);
      }
      img {
        display: block;
        width: to-rem(80);
        height: to-rem(60);
      }
      .pic-description {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: to-rem(16);
        color: #fff;
        background: rgba(17, 17, 17, .5);
        text-align: center;
      }
    }
  }
  .shop-infos {
    @extend .section;
    .info-item {
      height: to-rem(44);
      line-height: to-rem(44);
      border-bottom: to-rem(1) solid #eee;
    }
    .info-item:first-child {
      margin-top: to-rem(30);
      border-top: to-rem(1) solid #eee;
    }
  }
  .shop-infos-last {
    @extend .section;
    height: 100%;
    bottom: 0;
  }
}